h1{
    /* text-shadow: Horizontal Vartical Blure Color; */
    text-shadow: 3px 3px 3px red;
    text-shadow: 3px 3px 3px red,7px 7px 7px green;
}
.box{
    background-color: aqua;
    width: 300px;
    height: 200px;
    margin: 10px;
    /* Box shadow in Blure is same color as font color to not define  */
    /* box-shadow: 10px 10px 10px;
    box-shadow: -10px -10px 10px green,10px 10px 10px red; */
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
}