div{
    height: 200px;
    width: 200px;
    border: 1px solid  black;
    background-color: aqua;
}
.transleted{
    /* Hamari eye se dur ja raha hai Mean Hamari eye se distance type mean perspective*/
    transform: perspective(10px) translateZ(-10px);
}
.scaled{
    margin-left: 150px;
    /* Box Piche se Lamba Hua Hai Usako Dekhne ke liye Hame Rotate karke dekhna pada */
    transform: perspective(350px) scaleZ(3) rotateX(15deg) rotateY(30deg);
    /* transform: rotateZ(30deg); */
}